
.text-tomato{
    color: tomato;
}
a:hover {
    color: red;
    text-decoration: none;
}
.current-page {
    font-size: 1.5rem;
    vertical-align: middle;
}

.country-card-container {
    cursor: pointer;
    position: relative;
}

.country-name {
    font-size: 0.9rem;
}

.country-region {
    font-size: 0.7rem;
}

.country-page,
.country-name,
.country-region {
    line-height: 1;
}

ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
ul.pagination li.page-item.active a.page-link {
    color: #f8f9fa;
    background-color: #fc805a;
    border-color: #ffc107;
}
ul.pagination a.page-link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none !important;
    border-color: #ced4da !important;
    color: tomato;
    font-weight: 900;
    font-size: 1rem;
}
ul.pagination a.page-link:hover {
    background-color: #f4f4f4;
}

.flip-container {
     perspective: 1000px;
     transform-style: preserve-3d;
 }

.flip-container:hover .back {
    transform: rotateY(0deg);
}
.flip-container:hover .front {
    transform:  rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    max-height: 350px;
    margin-bottom: 20px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(-180deg);
    overflow: hidden;
}
.back p{
    color: tomato;
}

.loader{
    text-align: center;
}
.loader img{
    max-width: 100%;
}