.coinAmount {
    margin: 10px;
}

.coinAmount_label {
    position: relative;
    color: tomato;
    font-weight: bold;
    text-shadow: 0 1px 0 #000;
}
span.coinName{
    color: tomato;
    font-weight: bold;
}

.warning {
    /*display: none;*/
    opacity: 0.75;
    position: absolute;
    top: -25px;
    left: 90%;
    background-color: tomato;
    border-radius: 5px;
    border: 1px solid red;
    text-shadow: none;
    color: white;
    white-space: nowrap;
    padding: 4px;
}

.coinAmount_input.alarm {
    border: 1px solid red;
}

.coinAmount_label .coinName {
    display: inline-block;
    width: 60px;
}

.coinAmount_input {
    padding-left: 10px;
    width: 90px;
    font-size: 0.9rem;
    margin: 0 10px;
    height: 33px;
    border-radius: 5px;
    outline: none;
    color: tomato;
    font-weight: bold;
    border: 1px solid #a9a9a9;
    padding-top: 0;
}
label.search .coinAmount_input {
    width: 190px;
}